.home {
  background: url("https://image.freepik.com/free-vector/white-abstract-background_23-2148817571.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 89vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.homeContainer {
  width: 650px;
  height: 300px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.homeContainer h2 {
  margin-bottom: 40px;
  font-size: 40px;
}
.homeContainer p {
  margin-left: 10px;
  width: 70%;
}
