.home {
  background: url("https://coolbackgrounds.io/images/backgrounds/white/white-unsplash-9d0375d2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 89vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home__Container {
  width: 900px;
  height: 300px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.home__Container h2 {
  margin-bottom: 40px;
  font-size: 60px;
}
.home__Container p {
  margin-left: 10px;
  width: 60%;
}

.home__Container button {
  width: 20%;
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  border: 1px solid rgb(202, 193, 193);
  background-color: rgb(219, 59, 59);
  transition: all 0.2s ease-in-out;
}

.home__Container button:hover {
  background-color: rgb(219, 92, 92);
}
