.home {
  background: url("https://coolbackgrounds.io/images/backgrounds/white/white-unsplash-9d0375d2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 89vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.homeContainer {
  width: 900px;
  height: 300px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.homeContainer h2 {
  margin-bottom: 40px;
  font-size: 60px;
}
.homeContainer p {
  margin-left: 10px;
  width: 60%;
}
